@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif:regular);
@import url(https://fonts.googleapis.com/css2?family=B612+Mono&display=swap);
.navbar {
    background-color:black;
}
header img {
    width: 300px;
    height: 55.4px;
    padding-top: 5px;
    padding-left: 20px;
}

nav {
    float:right;
    padding-right: 20px;
    padding-top: 20px;
    
}

.navbar a{
    font-family: roboto;
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
    color: #fdf5f3;
    text-decoration: none;
    margin-right: 10px;
}

.central {
    background-image:url(https://derajyojith-draft.superhi.com/laura-chouette-blurred-2.jpg)
}

body {
    background-color: #f3c5c7;
    background-size: cover;
    background-position: right center;
}

h1{
    font-family: Bree Serif;
    font-size: 64px;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-align: center;
}

dl {
    font-family: 'B612 Mono', monospace;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 6px;
    text-align: center;
}